/*------------------------------------*\
    BASE
\*------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0; padding:0; border:0; outline:0; font-size:100%;
vertical-align:baseline; background:transparent;
}

* { box-sizing: border-box; outline: 0; }

.cf:before,.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamHTFLight.eot');
    src: url('fonts/GothamHTFLight.eot') format('embedded-opentype'),
         url('fonts/GothamHTFLight.woff2') format('woff2'),
         url('fonts/GothamHTFLight.woff') format('woff'),
         url('fonts/GothamHTFLight.ttf') format('truetype'),
         url('fonts/GothamHTFLight.svg#GothamHTFLight') format('svg');
    font-weight: 300; font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamHTFBook.eot');
    src: url('fonts/GothamHTFBook.eot') format('embedded-opentype'),
         url('fonts/GothamHTFBook.woff2') format('woff2'),
         url('fonts/GothamHTFBook.woff') format('woff'),
         url('fonts/GothamHTFBook.ttf') format('truetype'),
         url('fonts/GothamHTFBook.svg#GothamHTFBook') format('svg');
    font-weight: 400; font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamHTFMedium.eot');
    src: url('fonts/GothamHTFMedium.eot') format('embedded-opentype'),
         url('fonts/GothamHTFMedium.woff2') format('woff2'),
         url('fonts/GothamHTFMedium.woff') format('woff'),
         url('fonts/GothamHTFMedium.ttf') format('truetype'),
         url('fonts/GothamHTFMedium.svg#GothamHTFMedium') format('svg');
    font-weight: 600; font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamHTFBold.eot');
    src: url('fonts/GothamHTFBold.eot') format('embedded-opentype'),
         url('fonts/GothamHTFBold.woff2') format('woff2'),
         url('fonts/GothamHTFBold.woff') format('woff'),
         url('fonts/GothamHTFBold.ttf') format('truetype'),
         url('fonts/GothamHTFBold.svg#GothamHTFBold') format('svg');
    font-weight: 700; font-style: normal;
}

html, body { height: 100%; }

body {
  font-family: 'Open Sans',sans-serif; font-size: 16px; 
  line-height: 1.5; color: #312e2f; font-weight: 400; 
  background-color: #fff; 
  -webkit-text-size-adjust: 100%;
}

body.home {
  background-image: url(../images/bg-hex2.png); 
  background-attachment: fixed;
  background-position: center center;
}

strong {
  font-weight: 700;
}

i.material-icons {
	font-size: 48px;
	color: #6a0070;
}

h1,h2,h3,h4,h5 {
	font-family: 'Gotham','Open Sans',sans-serif;
  font-weight: 400;
}

h2 {
	font-size: 30px; font-weight: 300;
	margin-bottom: 36px; line-height: 1.3;
}

img {
    width: 100%; height: auto;
    display: block;
}

a {
	color: #508eca;
	text-decoration: none;
}

a > i.material-icons, .btn-showall > i.material-icons { 
	color: #508eca; 
}

a.arrow-link {
  display: inline-block;
  line-height: 24px;  
  vertical-align: top;
  font-weight: 700;
}

a.arrow-link > i.material-icons { 
  vertical-align: top !important;
  font-size: 24px;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.arrow-link:hover {}

button {
    background: none; border: 0;
    color: inherit; cursor: pointer;
    font: inherit; line-height: normal;
    overflow: visible; padding: 0;
    -webkit-appearance: none; 
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

button::-moz-focus-inner {
    border: 0; padding: 0;
}

button:disabled { cursor: not-allowed; }

.btn {
	background: #508eca; color: #fff;
	display: inline-block; width: 130px; height: 48px;
	font-size: 14px; font-weight: 700;
	text-align: center; line-height: 48px;
	-webkit-transition: background 0.25s linear;
	transition: background 0.25s linear;
}

.btn:hover {
	background: #4379ad;
}

.btn.btn-large {
	width: 224px;
}

.btn-showall {
	font-family: 'Gotham','Open Sans',sans-serif;
	color: #508eca; font-weight: 600;
	line-height: 36px; vertical-align: top;
}

.btn-showall > i {
	font-size: 36px;
	vertical-align: top;
}

.btn-play {
    display: inline-block;
    position: absolute;   
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a.btn-play > i.material-icons {
	font-size: 64px; color: #fff;
}

p {}

ul, ol {
	list-style: none;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; color: #252525;
  border: none; border-radius: 0; outline: 0;
  width: 100%; box-shadow: none;
  display: block; font-size: 14px;
  line-height: 50px; height: 50px;
  font-family: 'Open Sans',sans-serif; 
  font-weight: 400; font-style: normal;
  background: #fff; padding: 0 12px;
}

::-webkit-input-placeholder {
  color: #9a9b9c;
  opacity: 1 !important;
}
:-moz-placeholder {
  color: #9a9b9c;
  opacity: 1 !important;
}
::-moz-placeholder {
  color: #9a9b9c;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: #9a9b9c;
}

.primary-color {
	color: #508eca;
}

.primary-border-color {
	border-color: #508eca;
}

.secondary-color {
	color: #c9436c;
}

.secondary-border-color {
	border-color: #c9436c;
}

.third-color {
	color: #ffc300;
}

.third-border-color {
	border-color: #ffc300;
}

.fourth-color {
	color: #94619a;
}

.fourth-border-color {
	border-color: #94619a;
}

.container {
	max-width: 1280px; padding: 0 20px;
	margin: 0 auto; position: relative;
	z-index: 1;
}

.container.one-col-container {
	max-width: 580px;
}

.container.four-col-container {
	max-width: 680px;
}

.container-fullscreen {

}

.shadow {
  	position:relative; 
}

.shadow:before, .shadow:after {
	  content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 12px rgba(0,0,0,0.6);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.shadow:after {
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.rotate{
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.rotate.down{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.card {
	display: block;
	background: #fff;
	margin-bottom: 30px;
	position: relative;
  padding-bottom: 46px;
}

.card-bordered .card-img-wrap {
	border-bottom-width: 5px;
	border-bottom-style: solid;
}

.card-inner {
	padding: 8px 20px 0;
}

.card-heading {
	display: table; width: 100%;
	height: 62px;
}

.card-heading a {
	color: #312e2f;
}

.card-pre-title {
	font-family: 'Gotham','Open Sans',sans-serif;
	font-size: 14px; font-weight: 700;
	margin: 16px 0 6px;
}

h3.card-title {
	display: table-cell; vertical-align: middle;
	font-size: 22px; line-height: 1.4;
	font-weight: 400;
}

.card-body {
	min-height: 72px; 
	margin-bottom: 4px;
}

.card-footer {
  position: absolute; left: 0;
  right: 0; bottom: 0;
	border-top: 2px solid #edebec;
	padding: 10px 20px;
}

.card-centered .card-footer {
  border-top: none;
  padding: 0px 20px 20px;
}

.showall-wrap {
	padding: 24px 0;
}

.pre-headline {
	font-size: 16px; font-weight: 300;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 16px;
	color: #690070;
}

.video-wrap {
	position: relative;
}

@media only screen and (min-width : 768px) {

	h2 {
		font-weight: 400;
	}

	.btn {
		height: 42px; line-height: 42px;
	}

	.btn.btn-large {
		width: 160px;
	}

	.featured-video > a.btn-play > i.material-icons {
		font-size: 96px;
	}

	.card-heading {
		height: 52px;
	}

	h3.card-title {
		font-size: 18px;
	}

	.card-body {
		font-size: 12px;
	}

}

@media only screen and (min-width : 1025px) {

	h2 {
		font-size: 36px;
		margin-bottom: 60px;
	}

	.pre-headline {
		font-size: 22px; 
		margin-bottom: 2px;
	}

	.btn.btn-large {
		width: 224px;
	}

	.container.one-col-container {
		max-width: 976px;
	}

	.container.four-col-container {
		max-width: 1280px;
	}

	.card-heading {
		height: 68px;
	}

	h3.card-title {
		font-size: 24px;
	}

	.card-body {
		font-size: 16px;
	}

}

/*CAROUSEL*/

.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: #fff;
  text-decoration: none;
  opacity: .9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}